In [1]:
import pandas as pd
import numpy as np

In [2]:
production = pd.read_csv("../Data/oil-production-by-country.csv")
consumption = pd.read_csv("../Data/oil-consumption-by-country.csv")

In [4]:
production.head()

           Entity Code  Year  Oil production (TWh)  Share
0          Africa  NaN  1900                   0.0    0.0
1  Africa (Shift)  NaN  1900                   0.0    0.0
2         Albania  ALB  1900                   0.0    0.0
3         Algeria  DZA  1900                   0.0    0.0
4          Angola  AGO  1900                   0.0    0.0

In [17]:


prod_2022 = production[production["Year"] == 2022]
cons_2022 = consumption[consumption["Year"] == 2022]

trade = pd.merge(production, consumption, on=["Entity","Code","Year"], how="left")

In [18]:
trade["Net Export"] = trade["Oil production (TWh)"] - trade["Oil consumption - TWh"]

In [19]:
trade.to_csv("../Data/oil-trade.csv", index=False)